.main-page-info {
  height: 1220px;
  overflow: scroll;

  .header-container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid var(--border);
  }

  .post-area-wrapper {
    margin: 10px 0;
    border-bottom: 10px solid var(--border);
    height: 130px;

    .post-area-container {
      margin-inline: 20px;

      .posting-area {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .user-avatar {
          width: 50px;
          height: 50px;
        }
        .text-area {
          color: var(--secondary);
          font-weight: bold;
          padding-left: 10px;
        }
      }
      .post-tweet-button-container {
        display: flex;
        justify-content: flex-end;
        .post-tweet-button {
          background-color: var(--brand);
          width: 64.5px;
          height: 40px;
          border-radius: 50px;
          color: var(--white);
          border: 0px;
          cursor: pointer;
        }
      }
    }
  }

  .post-item-container {
    border-bottom: 1px solid var(--border);
    margin-bottom: 10px;
    height: 153px;
    z-index: 1;

    .post-item-wrapper {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      padding: 0 20px;
      .post-item-avatar {
        width: 50px;
        height: 50px;
      }
      .post-item-content {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        .user-post-info {
          display: flex;
          .name {
            font-weight: bold;
            margin-right: 5px;
          }
          .account,
          .time {
            color: var(--secondary);
          }
        }
        .post-content {
          margin: 10px 0;
          cursor: pointer;
        }
        .reply-like-container {
          display: flex;
          justify-content: space-between;
          width: 120px;

          .reply-container {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            .reply-icon {
              width: 16px;
              cursor: pointer;
              z-index: 100;
            }
            .reply-number {
              color: var(--secondary);
              font-size: 14px;
            }
          }
          .like-container {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            .like-icons {
              .like-icon {
                display: none;
                fill: #657786;
                width: 16px;
                z-index: 101;
                cursor: pointer;
              }
              .like-gray {
                display: block;
              }

              .liked-icon {
                display: none;
                width: 17px;
              }
              .like-active {
                display: block;
              }
            }

            .like-number {
              color: var(--secondary);
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
