.user-self-follow-page-info {
  height: 1220px;
  overflow: scroll;
  .header-container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid var(--border);

    .back-arrow-icon {
      width: 24px;
      cursor: pointer;
    }
    .name-tweet-amount-container {
      margin-left: 20px;
      .header-title-user-self-name {
        font-size: 18px;
        line-height: 26px;
      }
      .tweet-amount {
        color: var(--secondary);
        line-height: 18.82px;
        font-weight: 500;
        font-size: 13px;
        .tweet-amount-text {
          margin-left: 3px;
        }
      }
    }
    .user-self-follow-follower-following-navigator {
      height: 52px;
      display: flex;
      flex-direction: row;
      margin: 10px 0px;
      border-bottom: 2px solid var(--border);
      .user-self-follower,
      .user-self-following {
        border: none;
        background-color: transparent;
        color: #657786;
        font-weight: 700;
        font-size: 15px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .navigate-active {
        border-bottom: 2px solid var(--brand);
        color: var(--brand);
      }
      .user-self-follower:hover,
      .user-self-following:hover {
        border-bottom: 2px solid var(--brand);
        color: var(--brand);
      }
    }
  }
}
