.reply-post-tweet-modal {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  .reply-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);

    .reply-modal-content-wrapper {
      position: absolute;
      width: 634px;
      height: 500px;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: var(--white);
      border-radius: 14px;

      .reply-closed-icon-container {
        position: relative;
        height: 50px;
        border-bottom: 1px solid var(--border);
        cursor: pointer;
        .reply-cross-icon {
          position: absolute;
          top: 16px;
          left: 15px;
        }
      }

      .reply-modal-content {
        height: 250px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .reply-modal-post-item-container {
          margin-bottom: 10px;
          height: 153px;
          z-index: 1;

          .reply-modal-post-item-wrapper {
            position: relative;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
            flex-shrink: 0;
            .reply-modal-post-item-avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }

            .reply-modal-item-content {
              height:133px;
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              .reply-modal-user-post-info {
                display: flex;
                .reply-modal-name {
                  font-weight: bold;
                  margin-right: 5px;
                }
                .reply-modal-account,
                .reply-modal-time {
                  color: var(--secondary);
                }
              }
              .reply-modal-post-content {
                
                overflow: hidden;
                margin: 10px 0;
                outline: none;
              }
              .reply-modal-reply-to {
                color: var(--secondary);
                .reply-modal-reply-belonger {
                  color: var(--brand);
                  margin-left: 6px;
                }
              }
            }
          }
          .reply-modal-post-item-wrapper::before {
            content: "";
            position: absolute;
            left: 22px;
            top: 62px;
            width: 2px;
            height: 80px;
            background-color: #ccd6dd;
          }
        }

        .reply-modal-avatar-text-container {
          display: flex;
          height: 100%;
          width: 100%;
          .reply-modal-user-avatar-wrapper {
            width: 50px;
            border-radius: 50%;
            .reply-modal-user-avatar {
              object-fit: cover;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          .reply-modal-post-area {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 550px;

            .reply-modal-text-area {
              color: #9197a3;
              font-weight: bold;
              padding-left: 10px;
              width: 100%;
              height: 100%;

              .reply-modal-textarea {
                font-size: 18px;
                font-weight: 500;

                width: 100%;
                margin-top: 10px;
                height: 180px;
                resize: none;
                border: 0px;
              }
              .reply-modal-textarea:focus {
                outline: none;
              }
            }
          }
        }

        .reply-textarea-notification-tweet-modal-container {
          display: flex;
          justify-content: flex-end;

          .reply-notification-display-none {
            display: none;
          }
          .textarea-notification__cannot-be-blank {
            display: block;
            align-self: center;
            font-weight: 500;
            color: var(--brand);
          }
          .reply-tweet-modal-btn {
            margin-left: 20px;
            width: 64px;
            height: 40px;
            border-radius: 50px;
            padding: 8px, 16px, 8px, 16px;
            background-color: var(--brand);
            color: var(--white);
            border: 0px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
