.formContainerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto 0px;
  width: 356px;
  h3 {
      margin-top: 24px;
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: 700;
      line-height: 26px;
    }
}

.inputContainer {
  flex-direction: column;
  width: 356px;
  height: 78px;
  margin: 0px auto 2px;
  &:hover .inputContent {
      border-bottom: 2px solid #50B5FF;
    }
  .inputContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 16px;
    background-color: #F5F8FA;
    border-bottom: 2px solid #657786;
    border-radius: 2px 2px 0 0;

    .inputLabel {
      color: #696974;
      font-size: 14px;
      line-height: 22px;
    }

    .inputField {
      color: #171725;
      width: 100%;
      font-size: 16px;
      line-height: 26px;
      outline: none;
      border: none;
      background: transparent;
    }

    &::placeholder {
      color: #B5B5BE;
    }
    .inputContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 16px;
    background-color: #F5F8FA;
    border-bottom: 2px solid #657786;
    border-radius: 2px 2px 0 0;
      .inputLabel {
        color: #696974;
        font-size: 14px;
        line-height: 22px;
      }
      .inputField {
        color: #171725;
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        outline: none;
        border: none;
        background: transparent;
      }
      &::placeholder {
        color: #B5B5BE;
      }
    }                       
  }
  .inputNote {
    display: flex;
    height: 24px;
    font-size: 12px;
    .hide {
      display: none;
    }
    .errorMsg {
      color: #FC5A5A;
      margin-right: auto;
    }
    .inputCounter {
      margin-left: auto;
    }
  }
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 356px;
  margin: 0 auto;
  .mainButton {
    justify-content: center;
    border-radius: 50px;
    background-color: #ff6600;
    border: none;
    color: white;
    width: 100%;
    height: 46px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 0;
    margin: 16px 0;

    &:hover {
      cursor: pointer;
    }
  }
 .linkText-end{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    line-height: 100%;
    .linkText {
      color: #0062ff;
      padding: 6px 12px;
      text-decoration: underline;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.notiContainer{
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 394px;
  height: 96px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(51, 51, 51, 0.08), 0px 4px 4px 0px rgba(51, 51, 51, 0.04);
  .notiContent{
    padding-left: 24px;
    font-size: 20px;
    font-weight: 700;
  }
  .notiImgSuccess {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 2px solid #82C43C;
    border-radius: 50%;
  }
  .notiImgFail {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 2px solid #FC5A5A;
    border-radius: 50%;
  }
  .notiImgWarning {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 2px solid #FFC542;
    border-radius: 50%;
  }
  .notiImgDisconnect{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 2px solid #50B5FF ;
    border-radius: 50%;
  }
}

.userCardContainer{
  .userCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 314px;
    border-radius: 10px;
    background-color: #F6F7F8;
    .bgImg {
      width: 100%;
      height: 140px;
      .bgCover {
        height: 140px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }
    .userImg{
      position: absolute;
      top: 64px;
      left: 55px;
      right: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      .userAvatar{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 4px solid #fff;
        border-radius: 100px;
      }
    }
    .userInfo{
      width: 100px;
      margin: 32px auto 0;
      .userName {
        width: 100px;
        color: #171725;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
      .userAccount {
        width: 90px;
        color: #6C757D;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
    .tweetInfo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px auto 0;
      color: #1c1c1c;
      font-size: 16px;
      font-weight: 500;
      .post {
        display: flex;
        margin: 0px 8px;
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
      .like{
        display: flex;
        margin: 0px 8px;
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
    }
    .followInfo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px auto 24px;
      font-size: 14px; 
      font-weight: 400;
      color: #6C757D;
      .following{
        display: flex;
        margin: 0px 4px;
        p {
          color:#171725;
          line-height: 20px;
        }
      }
      .follower{
        display: flex;
        margin: 0px 4px;
        p {
          color:#171725;
          line-height: 20px;
        }
      }
    }
  }
}


