.user-other-follow-page-info {
  height: 1220px;
  overflow: scroll;
  .header-container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid var(--border);

    .back-arrow-icon {
      width: 24px;
      cursor: pointer;
    }
    .name-tweet-amount-container {
      margin-left: 20px;
      .header-title-user-self-name {
        font-size: 18px;
        line-height: 26px;
      }
      .tweet-amount {
        color: var(--secondary);
        line-height: 18.82px;
        font-weight: 500;
        font-size: 13px;
        .tweet-amount-text {
          margin-left: 3px;
        }
      }
    }
  }
   .user-self-follow-follower-following-navigator {
    height: 52px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    border-bottom: 2px solid var(--border);
    .user-self-follower,
    .user-self-following {
      border: none;
      background-color: transparent;
      color: #657786;
      font-weight: 700;
      font-size: 15px;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .follow-navigate-active {
      border-bottom: 2px solid var(--brand);
      color: var(--brand);
    }
    .user-self-follower:hover,
    .user-self-following:hover {
      border-bottom: 2px solid var(--brand);
      color: var(--brand);
    }
  }

  .follower-item-container {
   margin-top:10px;
    height: 146px;
    border-bottom: 1px solid var(--border);
    align-items: center;
    .follower-content {
      height: 126px;
      margin-inline: 16px;
      display: flex;
      flex-shrink: 0;
      .follower-avatar-container {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
               .follower-avatar{
          border-radius: 50%;
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }
      .follower-name-follow-btn-intro {
           margin-left:7px;
           width: 100%;
        .follower-name-btn-container {
       
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          .follower-name {
            font-weight: 700;
            font-size: 16px;
          }
          .follow-btn {
            width: 64px;
            height: 40px;
            font-size: 16px;
            border-radius: 50px;
            background-color: var(--white);
            color: var(--brand);
            border: 1px solid var(--brand);
            cursor: pointer;
          }
          .following-btn {
            width: 96px;
            height: 40px;
            border-radius: 50px;
            font-size: 16px;
            background-color: var(--brand);
            color: var(--white);
            border: 0px;
            cursor: pointer;
          }
        }
        .follower-intro {
          margin-top:10px;
          height: 100%;
        }
      }
    }
  }
}
