.user-other-page-info {
  height: 1220px;
  overflow: scroll;
  .header-container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid var(--border);

    .back-arrow-icon {
      width: 24px;
      cursor: pointer;
    }
    .name-tweet-amount-container {
      margin-left: 20px;
      .header-title-user-other-name {
        font-size: 18px;
        line-height: 26px;
      }
      .tweet-amount {
        color: var(--secondary);
        line-height: 18.82px;
        font-weight: 500;
        font-size: 13px;
        .tweet-amount-text {
          margin-left: 3px;
        }
      }
    }
  }

  .user-other-info-area {
    outline: 1px solid red;
    height: 378px;
    //以下在EditSelfInfoModal會用到
    .user-other-avatar-cover {
      outline: 3px solid steelblue;
      position: relative;
      height: 280px;

      .user-other-cover-container {
        width: 639px;
        height: 200px;
        background-color: var(--bg-color);
      }
      .user-other-avatar-container {
        position: absolute;
        top: 124px;
        left: 16.13px;
        width: 140px;
        height: 140px;
        border: 4px solid var(--bg-color);
        border-radius: 50%;
        .user-other-avatar{
          width: 100%;
        }

      }
    }
    //個人文字介紹
    .user-other-name-account-container {
      margin-inline: 16px;
      .user-other-name {
      }
      .user-other-account {
        color: var(--secondary);
      }
    }
    .user-other-introduction {
      margin: 6px 16px;
      font-size: 14px;
    }
    .user-other-follow-following-container {
      margin-inline: 16px;
      display: flex;
      column-gap: 10px;
      .user-other-follow,
      .user-other-following {
        color: #171725;
        font-size: 14px;
      }
      .following-text,
      .follower-text {
        color: var(--secondary);
      }
    }
  }
}
